h1 {
    color: pink;
    font-family: 'Send Flowers';
    text-align: center;
    font-size: 35px;
}
h2 {
    color: rgb(17, 51, 22);
    font-family: 'Send Flowers';
    text-align: center;
}
h5 {
    color: pink;
    font-family: 'Comfortaa';
    text-align: center;
    margin-bottom: 10px;
}
.Resources {
    margin-top: 10px;
    display: flex;
}
body {
    min-width: 300px;
    min-height: 360px;
}
html {
    background-color: rgb(255, 246, 229);
}