h1 {
    color: pink;
    font-family: 'Send Flowers';
    text-align: center;
    font-size: 35px;
}
h2 {
    color: rgb(17, 51, 22);
    font-family: 'Send Flowers';
    text-align: center;
}
h5 {
    color: rgb(87, 49, 56);
    font-family: 'Comfortaa';
    text-align: center;
    margin-bottom: 10px;
}
h6 {
    transform: translateY(-20px);
    color: rgb(17, 51, 22);;
    font-family: 'Send Flowers';
    text-align: center;
    margin-bottom: 10px;
}
a {
    font-size: 10px;
    color: rgb(87, 49, 56);
    font-family: 'Comfortaa';
    margin-right: 20px;
    text-align: center;
}
.Resources {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
body {
    min-width: 550px;
    min-height: 250px;
    background: url('positivitypocketbg.png');
    background-size: cover;
}
html {
    background-color: rgb(255, 246, 229);
}
